*{
	margin:0;
	padding:0;
}
body{
	font-family:monospace;
}
button,input{
	-webkit-appearance:none;
	appearance:none;
	display:block;
	font-family:monospace;
}
form{
	background-color:white;
	width:150px;
	padding:20px;
	position:fixed;
	left:0;
	top:200px;
	border-radius:0 20px 20px 0;
	box-shadow:1px 1px 10px rgba(0, 0, 0, 0.5);
}
input[type="text"]{
	border:none;
	border-bottom:1px dashed #777;
	padding:10px;
	width:calc(100% - 20px);
}
input[type="submit"]{
	background-color:transparent;
	border:1px solid #777;
	color:#777;
	padding:10px;
	border-radius:10px;
	cursor:pointer;
}
.error{
	font-size:0.9em;
	color:#f00;
	display:none;
}
.visible{
	display:block;
}
form :not(:first-child){
	margin-top:20px;
}
ul{
	list-style:none;
}
li{
	padding:20px;
	font-size:3em;
	text-align:center;
	color:white;
	text-shadow:2px 2px 0 black,-1px -1px 0 #333;
}